#searchbar {
  margin-top: 50px;
  margin-bottom: 5%;
}

#searchbar .input-group {
  max-width: 350px;
  margin: auto;
}

.jumbotron {
  margin-top: 50px;
  margin-left: 100px;
  margin-right: 100px;
  background-color: #f95f55;
  color: white;
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

#tweet-container {
  margin-bottom: 50px;
  height: 550px;
  overflow: auto;
}

#tweet-container > .tweet {
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 25px;
  /*background-color: #e2f6fc;*/
  font-family: 'Didact Gothic', sans-serif;
  text-align: center;
}

#youtube-container {
  margin-right: 20px;
  margin-bottom: 50px;
  overflow: auto;
  height: 550px;
}

#searchTitle {
  font-family: 'Didact Gothic', sans-serif;
  font-size: 36px;
  font-weight: bold;
  text-align: center;
}

.video-container {
  margin-bottom: 15px;
}

#FanFindLogo {
  font-size: 100px;
}

#trends-container {
  margin-bottom: 50px;
}
