body {
  background-color: #f8fcfe;
}

.fade {
  transition: opacity 3000ms ease;
}

#finds {
  color: #8c1919;
}

h4 {
  margin-top: 40px;
}

h1 {
  font-size: 100px;
  text-align: center;
  font-family: 'Text Me One', sans-serif;
  margin-top: 55px;
}

.header {
  font-family: 'Text Me One', sans-serif;
  font-size: 45px;
  margin-bottom: 5px;
  text-align: center;
  text-decoration: underline;
}

.in {
  opacity: 1;
}

.intro {
  text-align: center;
  font-size: 24px;
  font-family: 'Text Me One', sans-serif;
}

.modal-body {
  overflow-y: auto;
  max-height: 600px;
  text-align: center;
  font-size: 15px;
}

#myTwitterModalLabel {
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 32px;
}

#myYoutubeModalLabel {
  text-align: center;
  font-family: 'Arsenal', sans-serif;
  font-size: 42px;
}

.play-button {
  font-size: 67px;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translateX(-50%) translateY(-50%);
  color: white;
  text-shadow: 5px 5px black;
}

#searchbar {
  margin-bottom: 25px;
  margin-top: 15px;
}

#searchbar .input-group {
  max-width: 350px;
  margin: auto;
  font-size: 16px;
}

#searchTitle {
  font-family: 'Text Me One', sans-serif;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}

#tagline {
  font-size: 46px;
}

.thumbnails {
  text-align: center;
  margin-bottom: 15px;
  position: relative;
}

#trends-container {
  margin-bottom: 10px;
}

#top-row {
  margin-top: 10px;
}

#tweet-container {
  margin-bottom: 150px;
  height: 450px;
  overflow: auto;
}

#tweet-container > .tweet {
  margin-bottom: 15px;
  border-radius: 15px;
  font-size: 25px;
  font-family: 'Arsenal', sans-serif;
  text-align: center;
}

.video-container {
  margin-bottom: 15px;
}

#wiki-page {
  margin-top: 15px;
  text-align: center;
  background-color: #f1f9ff;
  border-radius: 15px;
  padding-left: 20px;
  padding-right: 20px;
}

.wikiStyles {
  font-family: 'Arsenal', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}

.wikiTitle {
  font-family: 'Arsenal', sans-serif;
  text-align: center;
  font-size: 45px;
  padding-top: 10px;
}

#youtube-container {
  margin-right: 20px;
  margin-bottom: 150px;
  overflow: auto;
  height: 450px;
}

.youtubeIframe {
  height: 400px;
  width: 500px;
}
